<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.count.easydrive366"
    android:versionCode="4"
    android:versionName="1.04" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 使用网络功能所需权限 -->

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" >
    </uses-permission>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" >
    </uses-permission>

    <!-- 获取设置信息和详情页直接拨打电话需要以下权限 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" >
    </uses-permission>

    <!-- 使用定位功能所需权限,demo已集成百度定位SDK,不使用定位功能可去掉以下6项 -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" >
    </uses-permission>

    <permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </permission>

    <uses-permission android:name="android.permission.BAIDU_LOCATION_SERVICE" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" >
    </uses-permission>
    <uses-permission android:name="android.permission.ACCESS_GPS" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cn.count.easydrive366.HomeActivity"
            android:windowSoftInputMode="stateAlwaysHidden" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.count.easydrive366.WelcomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity android:name="cn.count.easydrive366.InformationActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.HelpCallActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.RescueActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.MaintainActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.DriverLicenseActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarRegistrationActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.TaxForCarShipActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CompulsoryInsuranceActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.BusinessInsuranceActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.BusinessSuggestionActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.DriverLicenseEditActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.MaintainEditActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarRegistrationEditActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.LoginActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.SignupActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.ViolationSearchActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.InsuranceProcessListActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.BrowserActivity" >
        </activity>

        <receiver
            android:name="cn.count.easydriver366.service.GetLatestReceiver"
            android:enabled="true"
            android:persistent="true" >
            <intent-filer>
                <action android:name="cn.count.easydriver366.service.GetLatestReceiver" >
                </action>
            </intent-filer>
        </receiver>

        <service
            android:name="cn.count.easydriver366.service.BackendService"
            android:enabled="true"
            android:persistent="true" >
        </service>

        <receiver
            android:name="cn.count.easydriver366.service.StartServiceReceiver"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>
        <receiver android:name="cn.count.easydrive366.components.HomeMenuItem$LatestInformationReceiver" >
            <intent-filer>
                <action android:name="cn.count.easydrive366.components.HomeMenuItem.LatestInformationReceiver" >
                </action>
            </intent-filer>
        </receiver>

        <activity android:name="cn.count.easydrive366.SettingsActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.PasswordResetActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.BindCellphoneActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarServiceActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarServiceDetailActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarServiceVendorActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarServiceWikiActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.CarServiceNoteActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.UserFeedbackActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.ViolationDetailActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.ArticleCommentsActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.AddCommentsActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.InformationDetailActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.ActivateCodeActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.ActivateCodeShowActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.signup.Step1Activity" >
        </activity>
        <activity android:name="cn.count.easydrive366.signup.Step2Activity" >
        </activity>
        <activity android:name="cn.count.easydrive366.signup.Step3Activity" >
        </activity>
        <activity android:name="cn.count.easydrive366.baidumap.ShowLocationActivity" >
        </activity>
        <activity android:name="cn.count.easydrive366.barcode.ShowBarcodeActivity" >
        </activity>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote">
		</service>
		<!-- manager activity -->
		<activity android:name="cn.count.easydrive366.manager.ScanBarcodeActivity" >
        </activity>
    </application>

</manifest>